<!DOCTYPE html>
<html>
<head>
  <title>New Event</title>
</head>
<body>

<div class="h-screen flex justify-center items-center m-[30px] p-[40px] ">
  <div class="card-body shadow-2xl">
    <h1 class="card-title">イベント新規作成</h1>
    <%= form_with model: @event, local: true do |f| %>
      <div>
        <%= f.label :title, "タイトル" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.text_field :title %>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <div>
        <%= f.label :description, "内容" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.text_field :description %>
        </div>
      </div>
      <br/>
      <br/>
      <div>
        <%= f.fields_for :schedules do |date_form| %>
        <div>
          <%= date_form.label :calendar_date, "日付" %>
          <div class="input input-bordered w-full max-w-xs">
            <%= date_form.text_field :calendar_date %>
          </div>
        </div>
        <% end %>
      </div>
      <br/>
      <br/>
      <div>
        <%= f.label :password, "合言葉" %>
        <div class="input input-bordered w-full max-w-xs">
        <%= f.password_field :password %>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="btn btn-primary">
        <%= f.submit "Create Event" %>
      </div>
    <% end %>
  </div>
</div>

<%# <div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h1 class="card-title">イベント作成ページに戻る</h1>
    </div>
  </div>
</div> %>

  
</div>


</body>
</html>
