<!DOCTYPE html>
<html>
<head>
  <title>New Event</title>
</head>
<body>

<div class="h-screen flex justify-center items-center m-[30px] p-[40px] ">
  <div class="card-body shadow-2xl">
    <h1 class="card-title">イベント新規作成</h1>
    <%= form_with model: @event, url:events_path, local: true do |f| %>
      <div>
        <%= f.label :title, "タイトル" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.text_field :title %>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <div>
        <%= f.label :description, "内容" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.text_field :description %>
        </div>
      </div>
      <br/>
      <br/>
      <div>
      <div>
        <%= f.label :dates, "日付" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.text_field :dates %>
        </div>
      </div>
      </div>
      <br/>
      <br/>
      <div>
        <%= f.label :password, "合言葉" %>
        <div class="input input-bordered w-full max-w-xs">
          <%= f.password_field :password, id: 'password-field' %>
        </div>
      </div>

      <div class="flex items-center my-3">
        <h1>パスワード設定値: </h1>
        <p id="password" class="flex-grow-0 flex-shrink-0 font-bold px-2"></p>
        <button type="button" class="btn btn-xs btn-success flex-grow-0 flex-shrink-0" id="password_copy_btn">コピー</button>
        <div class="tooltip tooltip-open tooltip-right hidden mb-2" id="password_tooltip" data-tip="コピーしました！"></div>
      </div>

      <br/>
      <br/>
      <br/>
      <div class="btn btn-primary">
        <%= f.submit "Create Event" %>
      </div>
    <% end %>
  </div>
</div>
</div>

<%= javascript_include_tag "password" %>

</body>
</html>

